<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ transaction.description }}</mat-card-title>
    <mat-card-subtitle>
      {{ transaction.amount | currency: transaction.currencyCode }} 
      <span *ngIf="transaction.currencyRate">({{ transactionsService.usdToEurConvertor(transaction) | currency: 'EUR' }})</span>
      | {{ transaction.timestamp | date:'longDate' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <span><strong>Receiver Details:</strong> {{ transaction.otherParty?.name }} | {{ transaction.otherParty?.iban }}</span>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
<button class="homeButton" (click)="redirectHome()" mat-flat-button >
  <mat-icon>home</mat-icon>
</button>